#SWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC_NEW=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

#Variant defconfig
CONFIG_SEC_MILLET_PROJECT=y
CONFIG_MACH_MILLETLTE_OPEN=y
CONFIG_SEC_MILLETLTE_COMMON=y

#Display
CONFIG_FB_MSM_MDSS_SDC_WXGA_PANEL=y
CONFIG_ESD_ERR_FG_RECOVERY=y
CONFIG_TOUCHSCREEN_MMS252=y

#Vibrator
CONFIG_MSM_VIBRATOR=y
CONFIG_CONFIG_HAPTIC_ISA1200=y
CONFIG_VIBRATOR_UPDATE=y

#IR Blaster
CONFIG_IR_REMOCON_MC96FR116=y

#Other
CONFIG_INPUT_POLLDEV=y
CONFIG_SND_SOC_MAX98504=y
CONFIG_HID_ZAGG=y

#Connection Type
CONFIG_ARCH_MSM8926_LTE=y

